@tailwind base;
@tailwind components;
@tailwind utilities;

.edit-cell .amplify-select,
.edit-cell .amplify-input {
    border-radius: 0;
    border: 0;
}
.edit-cell .amplify-selectfield {
    flex: 1;
}
.edit-cell .amplify-label {
    display: none;
}

.hero-content {
    max-width: unset;
}
